@media (min-width: 375px) and (max-width: 500px) {
    .header_ul {
        display: none;
      }
      .logo {
        width: 50%;
      }
      .header_content {
        display: flex;
        justify-content: end;
      }
      .header_content_bar_menu {
        height: 100%;
        display: flex;
        align-items: center;
        margin-right: 17px;
        font-size: 23px;
      }
      .header_content_bar_menu i {
        color: #cfc9c9;
        border: 1px solid white;
        padding: 7px 10px;
        background-color: white;
        border-radius: 7px;
      }
      .slider_left_right {
        flex-direction: column;
        height: auto;
      }
      .slider_left {
        width: 100%;
        height: 285px;
        margin-top: 59px;
        display: block;
      }
      .slider_left_content {
        margin-left: 3%;
        line-height: 14px;
      }
      .slider_left_content h4 {
        font-size: 15px;
      }
      .slider_left_content h1 {
        font-size: 32px;
        line-height: 37px;
        margin-top: 15px;
      }

      .slider_left_content p {
        font-size: 17px;
        margin-top: 15px;
        line-height: 26px;
      }
      .slider_left_content button {
        margin-top: 30px;
        width: 128px;
        height: 49px;
      }
      .slider_right {
        width: 100%;
      }
      .slider_right_img {
        height: 450px;
        background-position: center;
      }
      .slider_left_content button a {
        top: 14px;
        left: 26px;
        font-size: 15px;
      }
      .infromation_content {
        margin-left: 5%;
        margin-right: 5%;
      }
      .infro_mr_ml {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        /* flex-direction: column; */
      }
      .cruises_content {
        width: 100%;
        height: auto;
        margin: 0;
      }
      .gallery_content{
        padding: 50px 0px;
      }
      .gallery_slide_grid {
        width: 100%;
      }
      .gallery_ml_mr {
        margin-left: 5%;
        margin-right: 5%;
      }
      .content_photo_booking {
        padding-top: 50px;
      }
      .photo_ml_mr {
        margin-left: 5%;
        margin-right: 5%;
      }

      video{
        object-fit: cover;
        height: 300px;
      }

      .title_content h2 {
        font-size: 16px;
    }
    .gallery_content_row {
        margin-top: 20px;
    }
      .content_photo_content {
        flex-direction: column;
      }
      .content_photo_content_left {
        width: 100%;
      }
      .content_photo_content_left h1 {
        font-size: 27px;
    }
      .content_photo_content_right {
        width: 100%;
        padding-top: 20px;
        font-size: 16px;
        line-height: 25px;
      }
      .row-form {
        width: 100%;
      }
      .bg-image-fix > div {
        align-items: flex-start;
    }
      .bg-image-ml-mr {
        margin-left: 5%;
        margin-right: 5%;
      }
      .bg-image-left {
        width: 0;
      }
      .bg-image-right {
        width: 100%;
        padding: 20px 0px;
      }
      .bg-image-right h1 {
        font-size: 28px;
      }
      .email_button {
        flex-direction: column;
        display: flex;
      }
      .email_button input {
        width: 91%;
        padding: 15px;
        border-radius: 9px;
      }
      .email_button button {
        width: 100%;
        border-radius: 9px;
        height: 45px;
        margin-top: 10px;
      }
      .bg-image-right h2 {
        font-size: 14px;
      }
      .feedback-form {
        margin-top: 60px;
      }
      .feedback-ml-mr {
        margin-left: 5%;
        margin-right: 5%;
      }
      .feedback-1 {
        width: 95%;
        padding: 5px 10px;
      }
      .booking_offer h1 {
        font-size: 30px;
    padding-top: 13px;
      }
      .fb2-992 {
        display: none;
      }
      .footer-ml-mr {
        margin: 0% 5%;
      }
      .footer-header {
        width: 100%;
      }
      .footer-left-row {
        width: 100%;
      }
      .footer-inner-main{
        padding: 60px 0px;
      }
      .footer-left-row h1 {
        margin-top: 0px;
      }
      .footer-left-row p {
        padding-top: 15px;
      }
      .icon {
        width: 65%;
      }
      .footer-mid-row {
        width: 100%;
      }
      .footer-right-row {
        width: 100%;
        margin-top: 20px;
    }
    .footer-bottom {
      margin-left: 9%;
      margin-right: 9%;
    }
    .footer-content {
      flex-direction: column;
    }
    .footer-bottom-left {
      width: 100%;
      padding-bottom: 24px;
      display: flex;
      justify-content: center;
    }
    
    .footer-bottom-left p a {
        display: flex;
        justify-content: center;
        margin-top: 4px;
    }
    .footer-bottom-right {
        width: 100%;
        display: flex;
        justify-content: center;
        font-size: 13px;
      }
}