/* 0 to 992 */
@media (min-width: 621px) and (max-width: 992px) {
  .header_ul {
    display: none;
  }

  .header_content {
    display: flex;
    justify-content: end;
  }
  .header_content_bar_menu {
    height: 100%;
    display: flex;
    align-items: center;
    margin-right: 60px;
    font-size: 23px;
  }
  .header_content_bar_menu i {
    color: #cfc9c9;
    border: 1px solid white;
    padding: 7px 10px;
    background-color: white;
    border-radius: 7px;
  }

  .slider_left {
    width: 100%;
    height: 250px;
    margin-top: 59px;
    display: block;
  }
  .slider_left_right {
    flex-direction: column;
    height: auto;
  }
  .slider_left_content {
    margin-left: 3%;
    line-height: 14px;
  }
  .slider_left_content h4 {
    font-size: 20px;
  }
  .slider_left_content h1 {
    font-size: 40px;
  }
  .slider_left_content button {
    margin-top: 30px;
    width: 128px;
    height: 49px;
  }
  .slider_right {
    width: 100%;
    height: 300px;
  }
  .slider_right_img {
    height: 350px;
    background-position: center;
  }
  .slider_left_content button a {
    top: 14px;
    left: 26px;
    font-size: 15px;
  }
  .infromation_content {
    margin-left: 2%;
    margin-right: 2%;
  }
  .cruises_content {
    margin: 30px;
  }

  .photo_ml_mr {
    margin-left: 2%;
    margin-right: 2%;
}
  .content_photo_content {
    flex-direction: column;
  }
  .content_photo_content_left {
    margin-bottom: 40px;
  }
  .content_photo_content_right {
    font-size: 18px;
    line-height: 27px;
}
.gallery_ml_mr {
  margin-left: 2%;
  margin-right: 2%;
}

  .bg-image-ml-mr {
    margin-left: 2%;
    margin-right: 2%;
  }
  .bg-image-right {
    width: 81%;
  }
  .fb-992 {
    display: none;
  }
  .feedback-1 {
    width: 41%;
  }
  .feedback-ml-mr {
    margin-left: 2%;
    margin-right: 2%;
  }
  .footer-ml-mr {
    margin: 0% 2%;
}
.footer-bottom {
  margin-left: 2%;
  margin-right: 2%;
}
.footer-bottom-right{
  width: 35%;
}
}
